.btn {
  text-align: center;
  cursor: pointer;
  outline: none;
  line-height: 1.6em;
  height: 1.6em;
  font-weight: bold;
  background-color: #8dc63f;
  color: #fff;
}
.btn:focus {
  outline: none;
}
.btn.active {
  background-color: #f6511d;
  color: #fff;
}
html,
body {
  font-family: sans-serif;
  color: #122;
}
.timer {
  display: block;
  max-width: 360px;
  margin: 10vh auto;
  overflow: hidden;
  border-radius: 0.2em;
}
.timer__title {
  font-size: 1.4em;
  padding: 0.5em 0 0 0.5em;
  font-family: 'PT Serif', serif;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: #f6511d;
}
.timer__body {
  padding: 1em .5em;
  margin: 0;
  background-color: #f6511d;
  border-bottom: 1px solid #66392a;
}
.timer__hint {
  text-align: center;
  color: white;
  margin: 1em 0;
  height: 2em;
}
.timer .btn,
.timer .timer_display,
.timer__time_choose {
  width: 100%;
}
.timer__display {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.timer__time_choose {
  display: flex;
  transition: all .3s ease;
}
.timer__time_choose:not(:last-child) {
  margin-bottom: 1rem;
}
.timer__time_choose input[type=radio] {
  display: none;
}
.timer__time_choose input[type=radio]:checked + .time_choose__variant {
  background-color: #eee;
  background-color: #ffb400;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: .2em;
  box-shadow: inset .1em .1em .2em #383838;
}
.timer__time_choose .time_choose__variant {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  cursor: default;
  text-align: center;
  cursor: pointer;
  outline: none;
  line-height: 1.6em;
  height: 1.6em;
  display: flex;
  flex-grow: 1;
  color: white;
  flex-direction: column;
  border-width: 0;
  border-left: 1px solid #d49008;
  background-color: #ffb400;
  box-sizing: border-box;
}
.timer__time_choose .time_choose__variant:focus {
  outline: none;
}
.timer__time_choose .time_choose__variant:focus,
.timer__time_choose .time_choose__variant:active {
  outline: none;
}
.timer__time_choose .time_choose__variant:hover {
  border-bottom-width: .15em;
  border-bottom-style: solid;
  border-bottom-color: white;
}
.timer__time_choose .time_choose__variant:first-of-type {
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  border-left-width: 0;
}
.timer__time_choose .time_choose__variant:last-of-type {
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  border-right-width: 0;
}
.timer__start_btn {
  display: block;
  border-radius: 0;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  border-top-color: #8dc63f;
  font-style: italic;
  font-size: 1.4em;
  border-top: 1px solid #c0e292;
}
.timer__start_btn.active {
  border-top-color: #f09880;
}
