@block-border-radius: .2em;
@block-padding: .5em;
@block-margin: 1rem;
@block-border-width: 1px;
@block-border-style: solid;
@block-border-color: gray;

@success-bg: #8dc63f;
@success-fg: #fff;
@danger-bg: #f6511d;
@danger-fg: #fff;


.no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-select: none;  // Chrome all / Safari all
    -moz-user-select: none;     // Firefox all
    -ms-user-select: none;      // IE 10+
    -khtml-user-select: none;   // Konqeror / old Safari
    // user-select: none;          // Likely future
    cursor: default;
}


.block-border() {
    border: @block-border-width @block-border-style @block-border-color;
    border-radius: @block-border-radius;
}

.block() {
    .block-border();
    padding: @block-padding;
    box-sizing: border-box;
}

.button() {
    // padding: 0 .8em;
    text-align: center;
    cursor: pointer;
    outline: none;
    line-height: 1.6em;
    height: 1.6em;

    &:focus {
        outline: none;
    }
}

.btn {
    // .block();
    .button();
    font-weight: bold;
    background-color: @success-bg;
    color: @success-fg;

    &.active {
        background-color: @danger-bg;
        color: @danger-fg;
    }
}


html,
body {
    font-family: sans-serif;
    color: #122;
}

.timer {
    display: block;
    max-width: 360px;
    margin: 10vh auto;
    overflow: hidden;
    border-radius: @block-border-radius;

    &__title {
        font-size: 1.4em;
        padding: @block-padding 0 0 @block-padding;
        font-family: 'PT Serif', serif;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        background-color: #f6511d;
    }

    &__body {
        padding: 1em .5em;
        margin: 0;
        background-color: #f6511d;
        border-bottom: 1px solid #66392a;
    }

    &__hint {
        text-align: center;
        color: white;
        margin: 1em 0;
        height: 2em;
    }

    .btn,
    .timer_display,
    &__time_choose {
        width: 100%;
    }

    &__display {
        // .block();
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin-bottom: @block-margin;
    }

    &__time_choose {
        display: flex;
        transition: all .3s ease;

        &:not(:last-child) {
            margin-bottom: @block-margin;
        }

        input[type=radio] {
            display: none;

            &:checked + .time_choose__variant {
                background-color: #eee;
                background-color: #ffb400;
                // color: #222;
                display: inline-block;
                box-sizing: border-box;
                overflow: hidden;
                padding-top: .2em;
                box-shadow: inset .1em .1em .2em #383838;
            }
        }

        .time_choose__variant {
            .no-select();
            .button();
            display: flex;
            flex-grow: 1;
            color: white;
            flex-direction: column;
            border-width: 0;
            border-left: 1px solid #d49008;
            background-color: #ffb400;
            box-sizing: border-box;

            &:focus,
            &:active {
                outline: none;
            }

            &:hover {
                border-bottom-width: .15em;
                border-bottom-style: solid;
                border-bottom-color: white;
            }

            &:first-of-type {
                border-top-left-radius: @block-border-radius;
                border-bottom-left-radius: @block-border-radius;
                border-left-width: 0;
            }

            &:last-of-type {
                border-top-right-radius: @block-border-radius;
                border-bottom-right-radius: @block-border-radius;
                border-right-width: 0;
            }
        }
    }

    &__start_btn {
        display: block;
        border-radius: 0;
        border-width: 0;
        border-top-width: 1px;
        border-style: solid;
        border-top-color: @success-bg;
        font-style: italic;
        font-size: 1.4em;
        border-top: 1px solid #c0e292;

        &.active {
            border-top-color: #f09880;
        }
    }
}
